@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Shrikhand&display=swap');
.container {
  max-width:800px;
  margin-top:30px;
  margin-bottom:30px;
  padding-bottom:20px;
  height:auto;
  background-color:#F4F5FB;
}

body {
  background-color:#FFCD00;
 
}
.searchEngine{
  display:block;
  margin:0 auto;
}
input#searchEngine {
  background-color:#FFFFFF;
  font-size:15px;
  width:300px;
  height:40px;
  display:block;
  margin:0 auto;
  margin-left:60px;
  margin-right:10px;
  border-radius: 10px;
  border-color: #DCDCDC;
}


input#searchButton{
  background-color: black;
  font-size:15px;
  color:#f5f5f5;
  width:100px;
  height:40px;
  border:none;
  border-radius:5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
}

.city{
  font-family: "Shrikhand", serif;
  font-size:70px;
  padding-top:30px;
  MARGIN-LEFT:20px;
  letter-spacing:1.5px;
  text-align:left;
  color:#0D0C22;
}


#temperature {
  font-family: "Fanwood Text", serif;
  font-size:70px;
  font-weight:400;
  color: #1E1E1E;
  padding-top: 30px;
  margin-left:15px;
 
}
.description, .date {
  font-family: "Fanwood Text", serif;
  font-size:22px;
  line-height: 35px;
  letter-spacing:2px;
  color: #1E1E1E;
  font-weight: 300;
  padding:5px;
  margin-left:20px;
}
.humidity, .windSpeed,ul {
  font-family: "Fanwood Text", serif;
  font-size:22px;
  line-height: 35px; 
  letter-spacing:2px;
  color: #1E1E1E;
  font-weight: 300;
  padding-top: 5px;
  padding-left:60px;
  list-style-type:none;
  
}
.WeatherTemperature {
  font-family: "Fanwood Text", serif;
  font-size:40px;
  font-weight:300;
  text-decoration:none;
  color: #1E1E1E;
 
}
#unit{
  font-family: "Fanwood Text", serif;
  font-size:40px;
  font-weight:300;
  text-decoration:none;
  color: #1E1E1E;
  padding-top:30px;
}

.a{
  text-decoration :none;
  font-family: "Fanwood Text", serif;
  font-size:40px;
  font-weight:300;
  text-decoration:none;
  color: #1E1E1E;
}
.Weather canvas {
  margin-right: 5px;
  margin-top: 20px;
 margin-left:10px;
}
